.panel {
  &__body {
    margin-top: 6.4rem;
    flex: 1; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    padding: 1.8rem;
    justify-content: center;

    // & > div {
    //   width: 100%;

    //   & > h1 {
    //     margin: 0;
    //   }
    // }
  }
}